@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "nullstyle.scss";

body{
    &.lock{
        overflow: hidden;
    }
}

.wrapper {
    
}

.container{
    margin: 0 auto;
    max-width: 90%;
}

.main {

    background: url('../img/backgrounds/main.png') center center no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;

        padding: 0px 22px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 80px;
        z-index: 1000;

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 70%;
        }
    }

    &__section-mid {
        padding: 210px 0px 150px 0px;
        display: flex;
        align-items: center;

        @media screen and (orientation: landscape){
            padding-top: 100px;
        }
    }

    &__dots {
        display: none;
        justify-content: space-between;
        align-items: center;

        
        padding: 40px;

        :not(:nth-child(1)){
            padding-left:10px;
        }

        .dot-active{
            padding-bottom: 2px;
        }
    }
}
.header {

    &__logo {
        position: relative;
        z-index: 1100;
        flex-basis: 130px;

        & img{
            width: 100%;
        }
    }

    &__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 1100;

        &:before, &:after{
            content: '';
            background-color: #fff;
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
        }

        & span{
            position: absolute;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
        }

        &:before{
            top: 0;
        }

        &:after{
            bottom: 0;
        }

        &.active span{
            transform: scale(0);
        }

        &.active:before{
            transform: rotate(45deg);
            top: 9px;
        }

        &.active:after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
    }

    &__menu {
        position: fixed;
        top: -1000px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: grey;
        opacity: 95%;

        padding: 20px 0px 0px 20px;

        transition: all 0.3s ease 0s;

        overflow: auto;
        

        &.active{
            top: 80px;
        }

        @media screen and (orientation: landscape)  {
            &.active{
                top: 80px;
                height: 80%;
            }
        }
    }
}
.menu {

    &__navigation {
    }

    &__list {
        margin-bottom: 10px;
    }

    &__item {
        :hover{
            color: #c7b299;
        }

        padding-bottom: 15px;
    }

    &__link {
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 300;
    }
}
.icons {
    & a{
        display: block;
        padding-bottom: 20px;
    }
}
.section-mid {

    &__arrow-left {
        display: none;
        flex-grow: 1 1 auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
    }

    &__arrow-right {
        display: none;
        flex-grow: 1 1 auto;
    }
}
.content {

    &__title-upper {
        font-size: 30px;
        font-weight: 500;
        font-family: "Raleway", sans-serif;
        color: white;
        line-height: 1.2;
        text-align: center;
    }

    &__title {
        
        font-size: 45px;
        font-family: "Raleway";
        color: white;
        font-weight: 800;
        line-height: 1.2;
        text-align: center;
        padding-top: 10px;
        letter-spacing: 0.01em;
    }

    &__text {
        font-size: 18px;
        font-weight: 300;
        font-family: "Montserrat", sans-serif;
        color: white;
        line-height: 1.5;
        text-align: center;
        padding-top: 20px;
        max-width: 580px;
        hyphens: manual;
    }

    &__button-wrapper {
        padding-top: 80px;
    }
}

.button{
    display: inline-block;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.643;
    color: white;
    box-shadow: 0px -3px 0px 0px rgba(115, 99, 87, 1) inset;
    border-radius: 3px;
    background-color: #998675;
    padding: 20px 38px;
}


// - - - - - - - - - - OPTIONS - - - - - - - - - -
.options {

    background: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 40px;

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 280px;
        text-align: center;
    }

    &__picture{
    }

    &__title{
        font-size: 26px;
        font-family: "Raleway", sans-serif;
        color: rgb(85, 85, 85);
        font-weight: 600;
        line-height: 1.2;
        margin-top: 21px;
    }

    &__text{
        
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: rgb(140, 140, 140);
        line-height: 24px;
        font-weight: 300;
        margin-top: 14px;
    }

    &__line{
        border-bottom: 3px solid rgb(241, 238, 233);
        width: 100px;
        margin-bottom: 50px;
        margin-top: 25px;
    }
}

.development {
    

    &__picture {
    }

    &__title {
        color: #c7b299;
    }

    &__text {
        hyphens: manual;
    }

    &__line {
        border-color: #c7b299;
    }
}
// - - - - - - - - - - /OPTIONS - - - - - - - - - -

// - - - - - - - - - - SCREENSHOTS - - - - - - - - - -
.screenshots {

    background-color: #fbfaf8;

    &__title {
        font-size: 30px;
        font-family: "Raleway", sans-serif;
        color: rgb(85, 85, 85);
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
        padding-top: 40px;
        letter-spacing: 0.005em;
    }

    &__text {
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        color: rgb(140, 140, 140);
        line-height: 28px;
        font-weight: 500;
        letter-spacing: 0.001em;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    &__pictures {

        img{
            display: none;
        }
    }
}
// - - - - - - - - - - /SCREENSHOTS - - - - - - - - - -

// - - - - - - - - - - PURCHASE - - - - - - - - - -
.purchase {
    background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);

    &__row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    &__content {
        text-align: center;
        padding-top: 20px;
    }

    &__title {

        font-size: 32px;
        font-family: 'Raleway', sans-serif;
        color: #ffffff;
        line-height: 1.2;
        
        span{
            color: #c7b299;
        }
    }

    &__subtitle {

        font-size: 22px;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        color: rgb(97, 88, 85);
        line-height: 1.2;
        padding-top: 15px;
    }

    &__button {
        padding: 14px 27px;
    }
}

.purchase__button-wrapper{
    padding: 25px 0px;
}
// - - - - - - - - - - /PURCHASE - - - - - - - - - -

// - - - - - - - - - - PROJECTS - - - - - - - - - -
.projects {

    background-color: #ffffff;

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 32px;
        font-family: "Raleway", sans-serif;
        color: rgb(85, 85, 85);
        font-weight: 600;
        line-height: 1.2;
        padding-top: 60px;
    }

    &__text {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: rgb(140, 140, 140);
        line-height: 1.75;
        padding-top: 15px;
        max-width: 800px;
        text-align: center;
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        margin-top: 34px;
        justify-content: center;

        :not(:nth-child(1)){
            margin-left: 15px;
        }
    }

    &__category{
        display: inline-block;

        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        text-align: center;
        font-weight: 500;
        color: #8c8c8c;

        border-style: solid;
        border-width: 1px;
        border-color: rgb(235, 235, 235);
        border-radius: 3px;
        
        margin-bottom: 30px;
        padding: 10px;
        min-width: 100px;

        &:hover{
            color: #ffffff;
            background-color: #998675;
        }
    }

    &__cards {
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    

    &__button-wrapper {
        margin: 50px 0px;
    }
}

.cards {

    
    &__item {
        background-color: #fbfaf8;
        position: relative;

        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    &__image {

        max-width: 100%;

        &-wrapper{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                left: 19px;
                bottom: 0;
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 10px solid #fbfaf8;
            }
        }
    }

    &__content {
        padding: 26px 0px 19px 29px;
    }

    &__title {
        font-size: 24px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        color: rgb(199, 178, 153);
        line-height: 1.2;
    }

    &__category {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: rgb(209, 209, 209);
        line-height: 31px;
        font-weight: 300;
    }

    &__phone {}

    &__mountain {}

    &__page {}

    &__birds {}

    &__book {}

    &__cliff {}
}
// - - - - - - - - - - /PROJECTS - - - - - - - - - -

// - - - - - - - - - - VIDEO - - - - - - - - - -
.video {

    background: url(../img/backgrounds/video.png) center center no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__button {
        display: block;
        text-align: center;
    }

    &__button-wrapper {
        padding-top: 180px;
        

        @media screen and (orientation: landscape) {
            padding-top: 170px;
        }
    }

    &__button-item {
        
    }

    &__title {
        padding-top: 38px;
        font-size: 32px;
        font-weight: 500;
        font-family: "Raleway", sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        letter-spacing: 0.07px;
        text-align: center;
    }

    &__text {
        padding-top: 14px;
        font-size: 18px;
        font-weight: 300;
        font-family: "Montserrat", sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.75;
        text-align: center;
        max-width: 600px;
    }

    &__time {
        padding-top: 34px;
        padding-bottom: 50px;
        text-align: center;
    }

    &__time-item {
    }
}
// - - - - - - - - - - /VIDEO - - - - - - - - - -

// - - - - - - - - - - MOBILE - - - - - - - - - -
.mobile {
    background-color: #fbfaf8;
    
    &__column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 40px;
    }

    &__image-wrapper {
        padding-left: 45px;
        order: 3;
    }

    &__image {
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 700px;
        padding-bottom: 65px;
    }

    &__title {
        font-size: 32px;
        font-family: "Raleway", sans-serif;
        color: rgb(85, 85, 85);
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
    }

    &__text {
        padding-top: 25px;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: rgb(140, 140, 140);
        line-height: 1.75;
        text-align: left;
        font-weight: 300;
    }

    &__list-wrapper {
        padding-top: 30px;
    }

    &__list {
    }

    &__list-item {
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        color: rgb(140, 140, 140);
        line-height: 2;

        background: url(../img/icons/mobile/list-icon.png) left 5px no-repeat;

        padding-left: 50px;
    }
}
// - - - - - - - - - - /MOBILE - - - - - - - - - -

// - - - - - - - - - - FIGURES - - - - - - - - - -
.figures {
    background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);

    &__row{
        display: flex;
        flex-direction: row;
    
        padding-top: 69px;
        flex-wrap: wrap;

        &:not(:first-child){
            padding-left: 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 120px;
        min-width: 150px;
        align-items: center;
        white-space: nowrap;
    }

    &__image-wrapper {
    }

    &__image {
        display: block;
        text-align: center;
    }

    &__number {
        padding-top: 28px;

        font-size: 48px;
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        color: rgb(255, 255, 255);
        line-height: 0.75;
    }

    &__title {
        padding-top: 16px;

        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        color: rgb(199, 178, 153);
        text-transform: uppercase;
        line-height: 1.429;
        text-align: center;
    }

    &__line {
        border-bottom: 2px solid #ffffff;
        width: 70px;
        margin-bottom: 60px;
        margin-top: 25px;
    }

    &__clients {
    }

    &__coffee {
    }

    &__posts {
    }

    &__likes {
    }

    &__launched {
    }
}
// - - - - - - - - - - /FIGURES - - - - - - - - - -

// - - - - - - - - - - POSTS - - - - - - - - - -
.posts {

    background-color: #ffffff;

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__title {
        padding-top: 50px;
        align-self: center;

        font-size: 32px;
        font-family: "Raleway", sans-serif;
        color: rgb(85, 85, 85);
        font-weight: 600;
        line-height: 1.2;
    }

    &__text {
        align-self: center;

        padding-top: 15px;
        max-width: 770px;

        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        color: rgb(140, 140, 140);
        line-height: 1.75;
        text-align: center;
        padding-bottom: 20px;
    }

    &__row {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    &__item {

        border: 1px solid rgb(248, 248, 248);
        flex: 0 1 372px;
        position: relative;
        max-width: 372px;

        &-content{
            padding: 25px;
        }

        &-dots{
            position: absolute;
            z-index: 15;
            bottom: 192px;
            left: 123px;

            display: flex;
            align-items: center;
            a{
                &:not(:nth-child(1)){
                    padding-left: 10px;
                }

                &:nth-child(2){
                    padding-bottom: 2px;
                }
            }
        }

        &:hover{
            background-color: #362f2d;

            .posts__item-title{
                color: #c7b299;
            }

            .posts__item-text{
                color: #ffffff;
            }

            .posts__item-image::before{
                background-color: #c7b299;
            }

            .posts__item-image::after{
                background-color: #a48d72;
            }
            
            .posts__item-image{

                img{
                    filter: brightness(50%);
                }
            }
        }
    }

    &__item-image {
        position: relative;
        

        &::before{
            z-index: 10;
            position: absolute;
            left: 20px;
            top: 10px;

            content: '30';
            margin-top: 10px;
            padding-top: 8px;
            padding-left: 2px;
            background-color: #363636;
            width: 50px;
            height: 35px;
            font-size: 24px;
            font-family: "Montserrat",sans-serif;
            font-weight: 300;
            color: rgb(255, 255, 255);
            line-height: 0.833;
            text-align: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &::after{
            z-index: 10;
            position: absolute;
            left: 20px;
            top: 45px;

            content: 'Sep.';
            margin-top: 10px;
            padding-top: 2px;
            padding-left: 3px;
            background-color: #252525;
            width: 50px;
            height: 25px;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
            color: rgb(255, 255, 255);
            line-height: 1.667;
            text-align: center;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        & img{
            width: 100%;
        }
    }

    &__item-title {
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        color: rgb(85, 85, 85);
        line-height: 1.2;
    }

    &__item-text {
        padding-top: 14px;

        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        color: #8c8c8c;
        line-height: 1.571;
    }

    &__item-link-wrapper {
        padding-top: 21px;
    }

    &__item-link {
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        color: rgb(199, 178, 153);
        line-height: 1.429;

        span{
            padding-right: 15px;
            background: url(../img/icons/posts/arrow.png) right no-repeat;
        }
    }

    &__arrows {
        padding-top: 40px;
        align-self: center;

        :not(:nth-child(1)){
            padding-left: 5px;
        }

        padding-bottom: 50px;
    }
}
// - - - - - - - - - - /POSTS - - - - - - - - - -

// - - - - - - - - - - SPONSORS - - - - - - - - - -
.sponsors {

    background: url(../img/backgrounds/sponsors.png) center center no-repeat;

    &__row {

        padding: 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        :not(:nth-child(2n)){
            padding-top: 15px;
        }
    }

    &__item {

        flex: 0 1 150px;

        & img{
            display: block;
            max-width: 80%;
            margin: 0px auto;
        }
    }
}
// - - - - - - - - - - /SPONSORS - - - - - - - - - -

// - - - - - - - - - - BOTTOM - - - - - - - - - -
.bottom {
    background-color: #191919;

    &__row {

        display: column;
        justify-content: center;
        align-items: center;

        padding: 40px 30px 60px;
        
    }

    &__brief {
        padding-top: 22px;
        padding-bottom: 11px;
        position: relative;
        max-width: 350px;

        &::after{
            content: "";
            position: absolute;
            bottom: -6px;
            width: 100%;
            height: 2px;
            background-color: #252525;
            z-index: 20;
        }

        &:last-child::after{
            display: none;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        color: rgb(85, 85, 85);
        line-height: 1.75;
        hyphens: auto;

        flex: 0 0 200px;

        &-title {
            padding-top: 23px;

            font-size: 26px;
            font-family: "Raleway", sans-serif;
            color: rgb(255, 255, 255);
            font-weight: 700;
            line-height: 1.2;
        }
    }

    &__general {

        &-logo {
        }
    
        &-text {
            padding-top: 23px;
        }
    
        &-link-wrapper {

            padding-top: 20px;
            
            a{
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                color: rgb(209, 209, 209);
                line-height: 1.429;
            }

            span{
                padding-right: 15px;
                background: url(../img/icons/bottom/arrow.png) right no-repeat;
            }
        }
    }

    &__recent {

        &-title {
        }

        &-date {
            font-size: 12px;
            font-family: "Montserrat", sans-serif;
            color: rgb(54, 54, 54);
        }

        &-text {
            line-height: 1.6;
        }

        .bottom__brief:hover{
            .bottom__recent-date{
                color: #ffffff;
            }
            .bottom__recent-text{
                color: #c7b299;
            }
        }
    }

    &__twitter {

        line-height: 1.6;

        &-title {
        }

        &-post {
        }
    
        &-text {
        }
    
        &-time {
            font-size: 12px;
            font-family: "Montserrat", sans-serif;
            color: rgb(54, 54, 54);
            font-weight: 300;
        }
    }

    &__widget {

        align-self: center;

        &-title {
            padding-bottom: 25px;
        }
    
        &-images {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            margin: 0 -10px;
        }
    
        &-image-wrapper {
            margin: 0px 10px;

            padding-bottom: 10px;
        }
    }
}

.mentioning {
    color: #00bff3;
}
.shortlink {
    color: #959595;
}
// - - - - - - - - - - /BOTTOM - - - - - - - - - -

// - - - - - - - - - - FOOTER - - - - - - - - - -
.footer {

    background-color: #111111;

    &__row {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: rgb(85, 85, 85);
        line-height: 1.538;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        white-space: nowrap;
        padding: 43px 30px 50px;

        span{
            color: #959595;
        }

        a{
            color:rgb(85, 85, 85);

            &:hover{
                color: #c7b299;
            }
        }
    }

    .row {

        &__left, &__right {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &:nth-child(n){
                display: block;
                text-align: center;
                margin: -10px 0px;
                
                :nth-child(n){
                    margin: 10px 0px;
                }
            }
        }

        &__left{
            position: relative;

            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #252525;
                z-index: 20;
                display: block;
            }
        }

        &__right{
            padding-top: 25px;
        }
    }
}
// - - - - - - - - - - /FOOTER - - - - - - - - - -